<!-- When signing up the user MUST provide a either a username or email and a password to POST '/login' method. An error page will be opened in case all 2 are not given -->
<!-- error passed back in variable 'err' -->

 <h1>Log in</h1>
 <form action="/login"  method="post">
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="identifier" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <div class="clearfix">
      <button type="button"  class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
    <p><%= err %></p>
  </div>
</form>