<!DOCTYPE html>
<html>
<head>
<title>Admin Profile</title>
</head>
<body>

<h1>Admin page</h1>
<p><a href="/logout">logout</a></p>
<% for(i in users){ %>
    <p><%= users[i] %></p>
<% } %>

</body>
</html> 