<!DOCTYPE html>
<html>
<head>
<title>Index.ejs</title>
</head>
<body>

<h1>User Profile</h1>
<h3>In DB</h3>
<% keys = Object.keys(user);  %>
<% for(key in keys) { %>
    <p><%= keys[key] %>: <%= user[keys[key]] %></p>
<% } %>
<h3>Rates</h3>
<p>BTCtoPKR: <%= rates.BTCtoPKR %></p>
<p>BTCtoUSD: <%= rates.BTCtoUSD %></p>
<h3>From Coinbase API</h3>


</body>
</html>