<!DOCTYPE html>
<html>
<head>
<title>Index.ejs</title>
</head>
<body>

<h1>User Profile</h1>
<!-- prints out email -->
<p><%= user.email %></p>
<!-- prints out username -->
<p><%= user.username %></p>
<p><a href='/logout'>logout</a></p>

</body>
</html>